.slide {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
  }

.slide-bg{
    background-position: 50% 50%;
    background-size: cover;
}

.slide-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}
  
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    font-size: 2rem;
  }
}

.rounded-section {
  background-color: black;
  width: 250px;
  height: 100px;
  border-radius: 0 0 50% 50% / 50px;
}

.service-section {
  background-image: url("../../../../assets/img/index/service-section-bg.png");
}

.smart-section {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(208,230,242,1) 40%, rgba(226,239,247,1) 60%, rgba(255,255,255,1) 100%);
}