<div class="container relative lg:mt-24 mt-16">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
        <div class="md:col-span-6 flex justify-center items-center">
            <!-- relative -->
            <div class="!w-[400px] !h-[400px]">
                <img src="assets/img/about-us/mision.jpg" height="400" class="object-none object-center rounded-2xl shadow-md !w-[400px] !h-[400px]" alt="mision MG">
                <!-- <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
                    <a href="javascript:void(0)" data-type="youtube" data-id="yba7hPeTSjk" onclick="my_modal_6.showModal()" 
                        class="lightbox h-20 w-20 rounded-full shadow-md dark:shadow-gyay-700 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-green-600">
                        <i class="mdi mdi-play inline-flex items-center justify-center text-2xl">
                        </i>
                    </a>
                </div> -->
                <!-- <dialog id="my_modal_6" class="modal modal-bottom sm:modal-middle">
                    <iframe width="750" height="400"
                    src="https://www.youtube.com/embed/yba7hPeTSjk?playlist=yba7hPeTSjk&loop=1">
                    </iframe>
                    <div class="modal-action absolute end-0 top-0 bg-white size-7 flex justify-center items-center rounded-full">
                        <form method="dialog" class="!leading-[0]">
                          <button ><i class="uil uil-multiply"></i></button>
                        </form>
                      </div>
                </dialog> -->
            </div>
        </div><!--end col-->

        <div class="md:col-span-6">
            <div class="lg:ms-4">
                <h4 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal text-blue-950">NUESTRA <strong>MISIÓN </strong></h4>
                <p class="text-slate-400 max-w-xl ">Brindar servicios y soluciones tecnológicas innovadoras con los más altos estándares de calidad, 
                    que nos permita ser su socio tecnológico evolucionando el uso de las TI y transformando su organización. Desarrollar Apps que brindan servicios innovadores que sean reconocidos por su alto grado de satisfacción y aporte.</p>
                <div class="mt-6">
                    <ul class="list-inside">
                        <li class="m-0">
                            <i class="uil uil-check-circle text-cyan-600"></i> Innovación Tecnológica.
                        </li>
                        <li class="m-0">
                            <i class="uil uil-check-circle text-cyan-600"></i> Alto Estándar de Calidad.
                        </li>
                        <li class="m-0">
                            <i class="uil uil-check-circle text-cyan-600"></i> Reconocimiento por Satisfacción del Cliente.
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end grid-->
</div>

<div class="container relative lg:mt-24 mt-16">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
        <div class="md:col-span-6">
            <div class="lg:ms-4">
                <h4 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal text-blue-950">NUESTRA <strong>VISIÓN </strong></h4>
                <p class="text-slate-400 max-w-xl">Ser una empresa que trascienda en el sector de tecnología de información de la región, por brindar soluciones y servicios originales e innovadores
                     que se adecuen a las necesidades modernas que hoy demandan las organizaciones.</p>
            </div>
        </div>

        <div class="md:col-span-6 flex justify-center items-center">
            <!-- relative -->
            <div class="!w-[400px] !h-[400px]">
                <img src="assets/img/about-us/vision.jpg" height="400" class="object-none object-center rounded-2xl shadow-md !w-[400px] !h-[400px]" alt="vision MG">
            </div>
        </div>
    </div>
</div>

<div class="container relative lg:mt-24 mt-16">
    <div class="flex items-center justify-center gap-[30px]">
        <div class="flex relative bg-blue-950 rounded-2xl shadow-md">
            <div class="w-[250px] h-[250px]">
                <img src="assets/img/about-us/filosofia.jpg" height="400" class="relative object-none object-center rounded-2xl shadow-md w-[250px] h-[250px] top-[-20px] left-[-20px]" alt="vision MG">
            </div>

            <div class="lg:ms-4 text-white p-4">
                <h4 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal">FILOSOFÍA</h4>
                <p class="text-slate-400 max-w-xl">En cada proyecto, nos esforzamos por proporcionar un servicio de calidad excepcional con transparencia y comunicación abierta, 
                    asegurando que nuestros clientes estén informados y satisfechos en cada etapa del proceso. Además, nos mantenemos actualizados con las últimas 
                    tendencias y tecnologías de la industria para garantizar que nuestras soluciones y servicios sean eficientes, escalables y estén a la vanguardia.</p>
            </div>
        </div>
    </div>
</div>
